.news {
  position: relative;
  background-color: var(--grey-light);
  padding-top: 100px;
  padding-bottom: 100px;

  &__top {
    position: relative;
    display: flex;
    justify-content: space-between;
    &-content {
      position: relative;
    }
  }

  &__title {
    margin-bottom: 35px;
    font-weight: 400;
    font-size: 34px;
    line-height: 120%;
  }

  &__swiper {
    overflow: visible;
    &-wrapper {
      display: flex;
      gap: 40px;
    }
  }

  &__slide {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    overflow: hidden;
    width: 343px;
    &-box {
      display: flex;
      gap: 15px;
    }

    &-image-container {
      margin-bottom: 5px;
      border-radius: 20px;
      width: 100%;
      height: 202px;
      overflow: hidden;
    }

    &-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.02);
      }
    }

    &-top {
      display: flex;
      align-items: center;
      gap: 14px;
    }

    &-link {
      display: inline-block;
      border-radius: 6px;
      padding: 2px 7px;
      background-color: var(--blue-light);
      color: var(--blue);
      font-weight: 400;
      font-size: 12px;
      line-height: 140%;
    }

    &-date {
      display: flex;
      align-items: center;
      gap: 7px;
    }

    &-views {
      display: flex;
      align-items: center;
      gap: 7px;
    }

    &-icon {
      width: 14px;
      height: 14px;
      stroke: var(--grey-dark);
      fill: var(--grey-light);
    }

    &-num {
      font-weight: 500;
      font-size: 12px;
      line-height: 120%;
      color: var(--grey-dark);
    }

    &-title {
      margin-bottom: 15px;
      font-weight: 400;
      font-size: 18px;
      line-height: 120%;
    }

    &-text {
      display: -webkit-inline-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-bottom: 6px;
      height: 40px;
      transition: max-height 0.3s ease;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
    }

    &-item {
      display: flex;
      align-items: center;
      gap: 7px;
    }

    &-read {
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: var(--blue);
    }

    &-img {
      width: 16px;
      height: 17px;
      stroke: var(--blue);
    }

    &-content {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      gap: 14px;
    }
  }

  &__btn {
    top: 0;
    left: auto;
    &-next {
      position: absolute;
      top: 0;
      right: 0;
      width: 46px;
      height: 46px;
      border: 1.6px solid var(--blue);
      border-radius: 40px;
      padding: 20px 20px;
      background-image: url(../../img/arrow_right-blue.svg);
      background-repeat: no-repeat;
      background-position: center;
      margin-top: 0;
      &:after {
        content: "";
      }
    }

    &-prev {
      position: absolute;
      top: 0;
      right: 56px;
      left: auto;
      border: 1.6px solid var(--blue);
      border-radius: 40px;
      padding: 20px 20px;
      width: 46px;
      height: 46px;
      background-image: url(../../img/arrow_left-blue.svg);
      background-repeat: no-repeat;
      background-position: center;
      margin-top: 0;

      &:after {
        content: "";
      }
    }
  }
}

@media (max-width: 1025px) {
}
@media (max-width: 1025px) {
  .news {
    padding-top: 43px;
    padding-bottom: 60px;

    &__slide {
      width: 271px;

      &-content {
        display: flex;
        flex-wrap: wrap;
      }

      &-linkbox {
        width: 100%;
      }

      &-image {
        margin-bottom: 0;
      }
      &-image-container {
        height: 158px;
        margin-bottom: 0;
      }
    }

    &__swiper {
      &-wrapper {
        gap: 20px;
      }
    }
  }
}

@media (max-width: 798px) {
  .news {
    padding-top: 43px;
  }
}
@media (max-width: 376px) {
  .news {
    &__btn {
      &-prev {
        left: 70%;
      }
      &-next {
        left: 85%;
      }
    }
  }
}
