<header class="header">
  <div class="header__offer">
    <div class="container">
      <div class="header__offer-row">
        <div class="header__offer-content">
          <div class="header__offer-desc">
            Здравствуйте, вы находитесь на демо версии решения
            <a href="#" class="header__offer-link">
              «OUT IT: Сайт совета муниципальных образований»
            </a>
          </div>

        </div>
        <div class="header__offer-btns">
          <a href="#" class="header__offer-button">Купить решение</a>
          <a href="#" class="header__offer-buttonStroke">подробнее</a>
        </div>
      </div>
    </div>
  </div>
  <div class="header__info header__info--desk">
    <div class="container">
      <div class="header__info-row">
        <div class="header__info-contacts">
          <a href="#" class="header__info-modal btn" data-graph-path="header__city">
            <svg class="header__info-icon">
              <use xlink:href="img/sprite.svg#geo"></use>
            </svg>
            <span>Москва</span>
          </a>
          <a href="#" class="header__info-address">Москва, ул. Карла Маркса, д. 37, корп. 1</a>
          <a href="tel:+74958008070" class="header__info-link">+ 7 (495) 800 80 70</a>
          <a href="mailto:out_it@gmail.com" class="header__info-link">out_it@gmail.com</a>
        </div>
        <div class="header__site-options">
          <a href="#" class="header__site-option" data-change-versrion>
            <svg class="header__info-glasses">
              <use xlink:href="img/sprite.svg#glasses"></use>
            </svg>
            <span class="header__site-options-text">Для&nbsp;слабовидящих</span>
          </a>
          <a href="#" class="header__site-option">
            <img src="../img/FlagEngland.svg" alt="" />
            <span class="header__site-options-text">English version</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="header__menu menu">
    <div class="container">
      <div class="header__menu-row">
        <a href="#" class="header__logo">
          <img src="../img/Logo.svg" alt="">
        </a>
        <div class="menu__wrapper">

          <ul class="menu__list">
            <li class="menu__item">
              <a href="#about" class="menu__link">О совете</a>
            </li>
            <li class="menu__item">
              <a href="#news" class="menu__link">Новости</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Деятельность</a>
            </li>
            <li class="menu__item">
              <a href="#documents" class="menu__link">Документы</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Обращения</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Пресс-центр</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Контакты</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Пункт меню 1</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Пункт меню 2 с длинным текстом на несколько строк</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Пункт меню 3</a>
            </li>

          </ul>
          <!-- <div class="menu__more">

            <div class="menu__more-link">Еще
              <svg class="menu__link-icon" id="arrowIcon">
                <use xlink:href="img/sprite.svg#arrow_down"></use>
              </svg>
            </div>

            <ul class="menu-inside">

            </ul>

          </div> -->

        </div>

        <div class="header__right">


          <div class="header__search search">
            <button class="search__button" data-search-btn>
              <svg class="search-icon">
                <use xlink:href="img/sprite.svg#search"></use>
              </svg>
            </button>
            <form action="" class="search__form" data-search-form>
              <input type="text" class="search__input" placeholder="Введите запрос..." data-search-input>
              <button type="submit" class="search__to-search">
                <svg>
                  <use xlink:href="img/sprite.svg#search"></use>
                </svg>
              </button>
              <button class="search__close" data-search-close>
                <img src="../img/close.svg" alt="close-icon" class="header__icon-close">
              </button>
              <div class="search__dropdown" data-simplebar data-search-dropdown>
                <ul class="search__list list-reset">
                  <li class="search__item">
                    <a href="#" class="search__link">
                      <svg>
                        <use xlink:href="img/sprite.svg#search"></use>
                      </svg>
                      <b>Нов</b>ости
                    </a>
                  </li>
                  <li class="search__item">
                    <a href="#" class="search__link">
                      <svg>
                        <use xlink:href="img/sprite.svg#search"></use>
                      </svg>
                      <b>Нов</b>ости
                    </a>
                  </li>
                  <li class="search__item">
                    <a href="#" class="search__link">
                      <svg>
                        <use xlink:href="img/sprite.svg#search"></use>
                      </svg>
                      <b>Нов</b>ости
                    </a>
                  </li>
                  <li class="search__item">
                    <a href="#" class="search__link">
                      <svg>
                        <use xlink:href="img/sprite.svg#search"></use>
                      </svg>
                      <b>Нов</b>ости
                    </a>
                  </li>
                  <li class="search__item">
                    <a href="#" class="search__link">
                      <svg>
                        <use xlink:href="img/sprite.svg#search"></use>
                      </svg>
                      <b>Нов</b>ости
                    </a>
                  </li>
                  <li class="search__item">
                    <a href="#" class="search__link">
                      <svg>
                        <use xlink:href="img/sprite.svg#search"></use>
                      </svg>
                      <b>Нов</b>ости
                    </a>
                  </li>
                  <li class="search__item">
                    <a href="#" class="search__link">
                      <svg>
                        <use xlink:href="img/sprite.svg#search"></use>
                      </svg>
                      <b>Нов</b>ости
                    </a>
                  </li>
                  <li class="search__item">
                    <a href="#" class="search__link">
                      <svg>
                        <use xlink:href="img/sprite.svg#search"></use>
                      </svg>
                      <b>Нов</b>ости
                    </a>
                  </li>
                  <li class="search__item">
                    <a href="#" class="search__link">
                      <svg>
                        <use xlink:href="img/sprite.svg#search"></use>
                      </svg>
                      <b>Нов</b>ости
                    </a>
                  </li>
                </ul>
              </div>

            </form>
            <div class="search__bgshadow" data-search-shadow></div>
          </div>
          <button class="button header__button button--default button--primary button--text-desktop modal-button "
            data-graph-path="loginModal">
            <svg class="button__icon button__icon--left">
              <use xlink:href="img/sprite.svg#singup"></use>
            </svg>
            <span class="button__text button__text--desktop">Войти</span>
          </button>
          <button
            class="button header__button  header__button--desk button--default button--primary-round button--text-desktop modal-button">
            <svg class="button__icon button__icon--left">
              <use xlink:href="img/sprite.svg#write"></use>
            </svg>
            <span class="button__text button__text--desktop">Написать нам</span>
          </button>
          <button class="header__burger burger" data-burger>
            <div class="burger__icons">
              <svg class="burger__btn-icon">
                <use xlink:href="img/sprite.svg#catalog"></use>
              </svg>
              <svg class="burger__close-icon">
                <use xlink:href="img/sprite.svg#close"></use>
              </svg>
            </div>
            <span>Меню</span>
          </button>
          <div class="mobile-menu">
            <div class="header__info header__info--mobile">
              <div class="header__info-row">
                <div class="header__info-contacts">
                  <a href="#" class="header__info-modal btn" data-graph-path="header__city">
                    <svg class="header__info-icon">
                      <use xlink:href="img/sprite.svg#geo"></use>
                    </svg>
                    <span>Москва</span>
                  </a>
                </div>
                <div class="header__site-options">
                  <a href="#" class="header__site-option" data-change-versrion>
                    <svg class="header__info-glasses">
                      <use xlink:href="img/sprite.svg#glasses"></use>
                    </svg>
                    <span class="header__site-options-text">Для&nbsp;слабовидящих</span>
                  </a>
                  <a href="#" class="header__site-option">
                    <img src="../img/FlagEngland.svg" alt="" />
                    <span class="header__site-options-text">English version</span>
                  </a>
                </div>
              </div>
            </div>
            <ul class="menu__list">
              <li class="menu__item">
                <a href="#about" class="menu__link">О совете</a>
              </li>
              <li class="menu__item">
                <a href="#news" class="menu__link">Новости</a>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__link">Деятельность</a>
              </li>
              <li class="menu__item">
                <a href="#documents" class="menu__link">Документы</a>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__link">Обращения</a>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__link">Пресс-центр</a>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__link">Контакты</a>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__link">Пункт меню 1</a>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__link">Пункт меню 2 с длинным текстом на несколько строк</a>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__link">Пункт меню 3</a>
              </li>

            </ul>
            <div class="mobile-menu__footer">
              <a href="tel:+74958008070" class="mobile-menu__link mobile-menu__link--big">+ 7 (495) 800 80 70</a>
              <a href="mailto:out_it@gmail.com" class="mobile-menu__link">out_it@gmail.com</a>
              <div class="mobile-menu__adress">
                Москва, ул. Карла Маркса, д. 37, корп. 1
              </div>
              <button class="mobile-menu__button button button--default button--primary-round modal-button">
                <svg class="button__icon button__icon--left">
                  <use xlink:href="img/sprite.svg#write"></use>
                </svg>
                <span class="button__text">Написать нам</span>
              </button>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

</header>
