<section class="info">
  <div class="container">
    <div class="info__title">
      Информационные ресурсы
    </div>
    <div class="info__wrapper">

      <a href="#" class="info__block">
        <div class="info__block-text">
          <p class="info__block-desc">Президент Российской Федерации</p>
          <div class="info__block-link">kremlin.ru</div>
        </div>
        <img src="img/coatofarms.svg" alt="">
      </a>
      <a href="#" class="info__block">
        <div class="info__block-text">
          <p class="info__block-desc">Совет Федерации РФ</p>
          <div class="info__block-link">council.gov.ru</div>
        </div>
        <img src="img/coatofarms.svg" alt="">
      </a>
      <a href="#" class="info__block">
        <div class="info__block-text">
          <p class="info__block-desc">Правительство Российской Федерации</p>
          <div class="info__block-link">government.ru</div>
        </div>
        <img src="img/coatofarms.svg" alt="">
      </a>
      <a href="#" class="info__block">
        <div class="info__block-text">
          <p class="info__block-desc">Федеральное Собрание РФ</p>
          <div class="info__block-link">duma.gov.ru</div>
        </div>
        <img src="img/coatofarms.svg" alt="">
      </a>
    </div>


  </div>
</section>
