<section class="news">
  <div class="container">
    <div class="news__top-content">
      <div class="news__top">
        <h2 class="news__title" id="news">Новости</h2>
      </div>
      <div class="swiper mySwiper news__swiper" id="swiper2">
        <div class="swiper-wrapper news__swiper-wrapper">
          <div class="swiper-slide news__slide">
            <div class="news__slide-image-container">
              <img src="../img/slide1.jpg" alt="" class="news__slide-image">
            </div>
            <div class="news__slide-top">
              <div class="news__slide-content">
                <div class="news__slide-linkbox"><a href="#" class="news__slide-link">Новости Совета</a>
                </div>
                <div class="news__slide-box">
                  <div class="news__slide-date">
                    <svg class="news__slide-icon">
                      <use xlink:href="img/sprite.svg#clock"></use>
                    </svg>
                    <p class="news__slide-num">24.08.2024</p>
                  </div>
                  <div class="news__slide-views">
                    <svg class="news__slide-icon">
                      <use xlink:href="img/sprite.svg#eye"></use>
                    </svg>
                    <p class="news__slide-num">1 234</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="news__slide-desc">
              <h4 class="news__slide-title">Проект  «Комфортный город» обсудили на совете</h4>
              <p class="news__slide-text">В Совете муниципальных образований Республики состоялась встреча, посвященная
                вопросам реализации приоритетного национального проекта «Формирование комфортной городской среды».</p>
              <a href="#" class="news__slide-item">
                <span class="news__slide-read">Читать подробнее</span>
                <svg class="news__slide-img">
                  <use xlink:href="img/sprite.svg#arrow_right"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="swiper-slide news__slide">
            <div class="news__slide-image-container">
              <img src="../img/slide2.jpg" alt="" class="news__slide-image">
            </div>
            <div class="news__slide-top">
              <div class="news__slide-content">
                <div class="news__slide-linkbox"><a href="#" class="news__slide-link">Экология</a></div>
                <div class="news__slide-box">
                  <div class="news__slide-date">
                    <svg class="news__slide-icon">
                      <use xlink:href="img/sprite.svg#clock"></use>
                    </svg>
                    <p class="news__slide-num">20.08.2024</p>
                  </div>
                  <div class="news__slide-views">
                    <svg class="news__slide-icon">
                      <use xlink:href="img/sprite.svg#eye"></use>
                    </svg>
                    <p class="news__slide-num">540</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="news__slide-desc">
              <h4 class="news__slide-title">Борьба с пожарами</h4>
              <p class="news__slide-text">В селе Симай Северного района собрались более семидесяти руководителей
                советов, глав сельских поселений из восьми районов на практический семинар по теме</p>
              <a href="#" class="news__slide-item">
                <span class="news__slide-read">Читать подробнее</span>
                <svg class="news__slide-img">
                  <use xlink:href="img/sprite.svg#arrow_right"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="swiper-slide news__slide">
            <div class="news__slide-image-container">
              <img src="../img/slide3.jpg" alt="" class="news__slide-image">
            </div>
            <div class="news__slide-top">
              <div class="news__slide-content">
                <div class="news__slide-linkbox"><a href="#" class="news__slide-link">Сельское хозяйство</a></div>
                <div class="news__slide-box">
                  <div class="news__slide-date">
                    <svg class="news__slide-icon">
                      <use xlink:href="img/sprite.svg#clock"></use>
                    </svg>
                    <p class="news__slide-num">19.08.2024</p>
                  </div>
                  <div class="news__slide-views">
                    <svg class="news__slide-icon">
                      <use xlink:href="img/sprite.svg#eye"></use>
                    </svg>
                    <p class="news__slide-num">2 370</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="news__slide-desc">
              <h4 class="news__slide-title">Уборочная кампания в России — 2023: подводим промежуточные итоги</h4>
              <p class="news__slide-text">Сезонные полевые работы в большинстве российских регионов находятся на
                финальной стадии, и уже можно сделать предварительные выводы о том, какими цифрами можно будет
                оперировать в этом году. На конец октября зерновые убраны с 94 % площади, уборка пшеницы, гречихи, риса
                уже на завершающем этапе, сб ор кукурузы активно продолжается. На 18,5 млн га уже закончен и озимый сев
                под урожай 2024-го. По итогам года общая площадь должна составить почти 20 млн га, что на 1,5 млн
                больше, чем в прошлом году (еще идет активный сев в южных регионах и на Северном Кавказе).</p>
              <a href="#" class="news__slide-item">
                <span class="news__slide-read">Читать подробнее</span>
                <svg class="news__slide-img">
                  <use xlink:href="img/sprite.svg#arrow_right"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="swiper-slide news__slide">
            <div class="news__slide-image-container">
              <img src="../img/slide4.jpg" alt="" class="news__slide-image">
            </div>
            <div class="news__slide-top">
              <div class="news__slide-content">
                <div class="news__slide-linkbox"><a href="#" class="news__slide-link">Сельское хозяйство</a></div>
                <div class="news__slide-box">
                  <div class="news__slide-date">
                    <svg class="news__slide-icon">
                      <use xlink:href="img/sprite.svg#clock"></use>
                    </svg>
                    <p class="news__slide-num">18.08.2024</p>
                  </div>
                  <div class="news__slide-views">
                    <svg class="news__slide-icon">
                      <use xlink:href="img/sprite.svg#eye"></use>
                    </svg>
                    <p class="news__slide-num">900</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="news__slide-desc">
              <h4 class="news__slide-title">От благоустройства сельских территорий – к благополучию жителей</h4>
              <p class="news__slide-text">В Совете муниципальных образований Республики состоялась встреча, посвященная
                вопросам реализации приоритетного национального проекта «Формирование комфортной городской среды».</p>
              <a href="#" class="news__slide-item">
                <span class="news__slide-read">Читать подробнее</span>
                <svg class="news__slide-img">
                  <use xlink:href="img/sprite.svg#arrow_right"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="swiper-slide news__slide">
            <div class="news__slide-image-container">
              <img src="../img/slide5.jpg" alt="" class="news__slide-image">
            </div>
            <div class="news__slide-top">
              <div class="news__slide-content">
                <div class="news__slide-linkbox"><a href="#" class="news__slide-link">Сельское хозяйство</a></div>
                <div class="news__slide-box">
                  <div class="news__slide-date">
                    <svg class="news__slide-icon">
                      <use xlink:href="img/sprite.svg#clock"></use>
                    </svg>
                    <p class="news__slide-num">15.08.2024</p>
                  </div>
                  <div class="news__slide-views">
                    <svg class="news__slide-icon">
                      <use xlink:href="img/sprite.svg#eye"></use>
                    </svg>
                    <p class="news__slide-num">1 234</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="news__slide-desc">
              <h4 class="news__slide-title">Рекорда по зерну не будет, но показатели хорошие</h4>
              <p class="news__slide-text">По данным Zerno.ru, валовый сбор зерновых и зернобобовых вышел на показатель в
                140 млн тонн, что является вторым историческим результатом для страны. По оценке Правительства РФ, этого
                достаточно, чтобы полностью обеспечить потребности внутреннего рынка и в полном объеме выполнить
                экспортные обязательства. Россия будет готова отправить на экспорт 65 млн тонн зерна. По масличным
                ожидается урожай на уровне 27 млн тонн, по сахарной свекле — 50,5 млн, по картофелю (в организованном
                секторе) — 8 млн, по овощам — 7,3 млн, по плодам и ягодам — 1,7 мл</p>
              <a href="#" class="news__slide-item">
                <span class="news__slide-read">Читать подробнее</span>
                <svg class="news__slide-img">
                  <use xlink:href="img/sprite.svg#arrow_right"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev news__btn-prev">
      </div>
      <div class="swiper-button-next news__btn-next">
      </div>
    </div>
  </div>
</section>
